# To Do #

## Resolve diff columns with Excel sheets (2017-18 Series data)##
* format Poss times, mcatch Date and numbers
* Join opp data - must select the USA row and add Opp stats to that one
* drop duplicate Date column after rows are joined
* map equivalent data from 2017-18 series
* DROP: Points Conceded, Tries Conceded (will be handled by Opp stats), drop date info/etc. - last col
* ADD: col for opp team name, date col, tournament stop info, first or second in leg, opp data columns
* Split "Conversions" into attempted and success OR see if str can be converted to a percentage

In [577]:
# Import data from 2016-17 HSBC World Sevens Series Match Data PDFs
import pandas as pd

# read single file
#df = pd.read_csv('../data/match_PDFs/CSV/tabula-2016_Cape_Town_7s_Match_7_Australia_vs_USA.csv')
df = pd.read_csv("../data/match_PDFs/test.csv")

In [578]:
# check df
# df.head()

In [579]:
# Get name for Team 1 (str)
team1 = df.iloc[0,2]
# Get name for Team 2
team2 = df.iloc[0,5]

# trim scores and whitespace from name
team1 = str.strip(team1[:-6])
team2 = str.strip(team2[:-6])

# check output
print(team2 + " vs " + team1)

USA vs AUSTRALIA

In [580]:
df

,SINGLE MATCH SUMMARY BY TEAM (7S) Page 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,AUSTRALIA ( 0 ),NaN,NaN,USA ( 19 ),NaN
1,NaN,H1,H2,Total,H1,H2,Total
2,Possession Time,2:14,1:30,3:44,1:51,1:27,3:18
3,Possessions,9,5,14,10,7,17
4,Ave Possession Time,14.9,18.0,16.0,11.1,12.4,11.6
5,Scores,NaN,NaN,NaN,7,12,19
6,- Tries,NaN,NaN,NaN,1,2,3
7,- Conversions,1 / 1,1 / 2,2 / 3,1 / 1,1 / 2,2 / 3
8,- Goals,1 / 1,1 / 1,2 / 2,1 / 1,1 / 1,2 / 2
9,- Tries Conceded,1,2,3,NaN,NaN,NaN
10,- Points Conceded,7,12,19,NaN,NaN,NaN
11,Passes,20,16,36,14,14,28
12,Tackle / Ruck / Mauls,5,5,10,4,1,5
13,- Retained,3,4,7,3,1,4
14,- Lost,2,1,3,1,NaN,1
15,- T/Overs Won,1,NaN,1,1,NaN,1
16,- Tackle Only (Defence),NaN,NaN,NaN,1,NaN,1
17,Mauls,NaN,NaN,NaN,NaN,NaN,NaN
18,Kicks,1,NaN,1,NaN,1,1
19,General Play T/Overs,6,2,8,4,2,6
20,Lineouts,1,NaN,1,1,1,2
21,- Own Won,1,NaN,1,NaN,NaN,NaN
22,- Own Lost,NaN,NaN,NaN,1,1,2
23,Scrums,2,3,5,1,1,2
24,- Own Won,2,3,5,1,1,2
25,- Own Lost,NaN,NaN,NaN,NaN,NaN,NaN
26,Restarts,1,NaN,1,1,3,4
27,- Long,NaN,NaN,NaN,NaN,NaN,NaN
28,- Short,1,NaN,1,1,3,4
29,- Regained,NaN,NaN,NaN,NaN,2,2
...,...,...,...,...,...,...,...
31,Pens / Frees Against,2,2,4,1,1,2
32,- Ruck / Maul,1,2,3,NaN,1,1
33,- Set Piece,1,NaN,1,NaN,NaN,NaN
34,- General Play,NaN,NaN,NaN,NaN,NaN,NaN
35,- Foul Play,NaN,NaN,NaN,1,NaN,1
36,Yellow / Red Cards,NaN,NaN,NaN,NaN,NaN,NaN
37,Printed Monday 12-Dec-2016 09:56:10 am The Rug...,NaN,NaN,NaN,NaN,NaN,NaN
38,Licence 759 - International Rugby Board Fair P...,NaN,NaN,NaN,NaN,NaN,NaN
39,SINGLE MATCH SUMMARY BY TEAM (7S) Page 2,NaN,NaN,NaN,NaN,NaN,NaN
40,H,Time,Team,Description,Reason,NaN,NaN
41,1,1:39,Australia,Pen against- scrum (defence),Scrumhalf holding,NaN,NaN
42,1,6:21,USA,Pen against- general play (attack),Tackling in air (gen play),NaN,NaN
43,1,7:23,Australia,Pen against- tackle/ruck (attack),Offside (ruck / maul),NaN,NaN
44,2,1:03,USA,TMO decision - try,NaN,NaN,NaN
45,2,5:01,Australia,Pen against- tackle/ruck (attack),Not releasing,NaN,NaN
46,2,6:28,USA,Pen against- tackle/ruck (defence),Hands in ruck,NaN,NaN
47,2,6:59,Australia,Adv - Over,Dangerous tackle - High,NaN,NaN
48,2,8:48,Australia,Pen against- tackle/ruck (attack),Not releasing (crawling),NaN,NaN
49,Printed Monday 12-Dec-2016 09:56:10 am The Rug...,NaN,NaN,NaN,NaN,NaN,NaN
50,Licence 759 - International Rugby Board Fair P...,NaN,NaN,NaN,NaN,NaN,NaN
51,SINGLE MATCH SUMMARY BY TEAM (7S) Page 3,NaN,NaN,NaN,NaN,NaN,NaN
52,H,Time,Team,Description,NaN,NaN,NaN
53,1,5:10,USA,Try,NaN,NaN,NaN
54,1,5:40,USA,Drop Conversion,NaN,NaN,NaN
55,2,0:15,USA,Try,NaN,NaN,NaN
56,2,1:23,USA,Missed drop conversion,NaN,NaN,NaN
57,2,2:44,USA,Try,NaN,NaN,NaN
58,2,3:41,USA,Drop Conversion,NaN,NaN,NaN
59,Printed Monday 12-Dec-2016 09:56:10 am The Rug...,NaN,NaN,NaN,NaN,NaN,NaN
60,Licence 759 - International Rugby Board Fair P...,NaN,NaN,NaN,NaN,NaN,NaN

In [581]:
# Get date string from 'Printed...', convert to datetime
matchdate = df.iloc[37][0]
tourdate = pd.to_datetime(matchdate.split()[2])
type(tourdate)

pandas._libs.tslib.Timestamp

In [582]:
# CONVERT 'tourdate' TO formatted string - neccessary? #
# from datetime import datetime
# tourdate = datetime.strftime(tourdate, '%d-%m-%Y')
# tourdate

In [583]:
# Drop all unnceccessary rows, from 'Printed ...' row [37] onwards
df2 = df.iloc[0:37, :]
#df2

In [584]:
# create df2, a transformed dataframe
df2 = df2.T
df2

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
SINGLE MATCH SUMMARY BY TEAM (7S) Page 1,NaN,NaN,Possession Time,Possessions,Ave Possession Time,Scores,- Tries,- Conversions,- Goals,- Tries Conceded,...,- Long,- Short,- Regained,- Errors,Pens / Frees Against,- Ruck / Maul,- Set Piece,- General Play,- Foul Play,Yellow / Red Cards
Unnamed: 1,NaN,H1,2:14,9,14.9,NaN,NaN,1 / 1,1 / 1,1,...,NaN,1,NaN,NaN,2,1,1,NaN,NaN,NaN
Unnamed: 2,AUSTRALIA ( 0 ),H2,1:30,5,18.0,NaN,NaN,1 / 2,1 / 1,2,...,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,Total,3:44,14,16.0,NaN,NaN,2 / 3,2 / 2,3,...,NaN,1,NaN,NaN,4,3,1,NaN,NaN,NaN
Unnamed: 4,NaN,H1,1:51,10,11.1,7,1,1 / 1,1 / 1,NaN,...,NaN,1,NaN,NaN,1,NaN,NaN,NaN,1,NaN
Unnamed: 5,USA ( 19 ),H2,1:27,7,12.4,12,2,1 / 2,1 / 1,NaN,...,NaN,3,2,NaN,1,1,NaN,NaN,NaN,NaN
Unnamed: 6,NaN,Total,3:18,17,11.6,19,3,2 / 3,2 / 2,NaN,...,NaN,4,2,NaN,2,1,NaN,NaN,1,NaN

In [ ]:
#get names to use for columns
#cols = list(df2.iloc[0])
#len(cols)

In [585]:
# create new columns with cleaned names
newcols = ['col1','col2','Possession Time',
 'Possessions',
 'Avg Possession Time',
 'Scores',
 'Tries',
 'Conversions',
 'Goals',
 'Tries Conceded',
 'Points Conceded',
 'Passes',
 'Tackle_Ruck_Mauls',
 'Retained',
 'Lost',
 'T-Overs Won',
 'Tackle Only-Defence',
 'Mauls',
 'Kicks',
 'General Play T/Overs',
 'Lineouts',
 'Own Won',
 'Own Lost',
 'Scrums',
 'Own Won',
 'Own Lost',
 'Restarts',
 'Long',
 'Short',
 'Regained',
 'Errors',
 'Pens_Frees Against',
 'Ruck_Maul',
 'Set Piece',
 'General Play',
 'Foul Play',
 'Yellow_Red Cards']

df2.columns = newcols
df2

,col1,col2,Possession Time,Possessions,Avg Possession Time,Scores,Tries,Conversions,Goals,Tries Conceded,...,Long,Short,Regained,Errors,Pens_Frees Against,Ruck_Maul,Set Piece,General Play,Foul Play,Yellow_Red Cards
SINGLE MATCH SUMMARY BY TEAM (7S) Page 1,NaN,NaN,Possession Time,Possessions,Ave Possession Time,Scores,- Tries,- Conversions,- Goals,- Tries Conceded,...,- Long,- Short,- Regained,- Errors,Pens / Frees Against,- Ruck / Maul,- Set Piece,- General Play,- Foul Play,Yellow / Red Cards
Unnamed: 1,NaN,H1,2:14,9,14.9,NaN,NaN,1 / 1,1 / 1,1,...,NaN,1,NaN,NaN,2,1,1,NaN,NaN,NaN
Unnamed: 2,AUSTRALIA ( 0 ),H2,1:30,5,18.0,NaN,NaN,1 / 2,1 / 1,2,...,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,Total,3:44,14,16.0,NaN,NaN,2 / 3,2 / 2,3,...,NaN,1,NaN,NaN,4,3,1,NaN,NaN,NaN
Unnamed: 4,NaN,H1,1:51,10,11.1,7,1,1 / 1,1 / 1,NaN,...,NaN,1,NaN,NaN,1,NaN,NaN,NaN,1,NaN
Unnamed: 5,USA ( 19 ),H2,1:27,7,12.4,12,2,1 / 2,1 / 1,NaN,...,NaN,3,2,NaN,1,1,NaN,NaN,NaN,NaN
Unnamed: 6,NaN,Total,3:18,17,11.6,19,3,2 / 3,2 / 2,NaN,...,NaN,4,2,NaN,2,1,NaN,NaN,1,NaN

In [586]:
# Keep only 'Total' rows, so effectively H1, H2 Rows are dropped 
df2 = df2[df2.loc[:,'col2'] == 'Total']
df2

,col1,col2,Possession Time,Possessions,Avg Possession Time,Scores,Tries,Conversions,Goals,Tries Conceded,...,Long,Short,Regained,Errors,Pens_Frees Against,Ruck_Maul,Set Piece,General Play,Foul Play,Yellow_Red Cards
Unnamed: 3,NaN,Total,3:44,14,16.0,NaN,NaN,2 / 3,2 / 2,3,...,NaN,1,NaN,NaN,4,3,1,NaN,NaN,NaN
Unnamed: 6,NaN,Total,3:18,17,11.6,19,3,2 / 3,2 / 2,NaN,...,NaN,4,2,NaN,2,1,NaN,NaN,1,NaN

In [587]:
# create new column for teams, date
df2['Team'] = [team1, team2]
df2['Date'] = tourdate
df2

/Users/admin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/admin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,col1,col2,Possession Time,Possessions,Avg Possession Time,Scores,Tries,Conversions,Goals,Tries Conceded,...,Regained,Errors,Pens_Frees Against,Ruck_Maul,Set Piece,General Play,Foul Play,Yellow_Red Cards,Team,Date
Unnamed: 3,NaN,Total,3:44,14,16.0,NaN,NaN,2 / 3,2 / 2,3,...,NaN,NaN,4,3,1,NaN,NaN,NaN,AUSTRALIA,2016-12-12
Unnamed: 6,NaN,Total,3:18,17,11.6,19,3,2 / 3,2 / 2,NaN,...,2,NaN,2,1,NaN,NaN,1,NaN,USA,2016-12-12

In [588]:
# drop unncessary columns - no idea what 'Goals' is
df2 = df2.drop(['col1', 'col2', 'Goals'], axis=1)

In [589]:
# Fill NAs with '0'
df2 = df2.fillna(0)
df2

,Possession Time,Possessions,Avg Possession Time,Scores,Tries,Conversions,Tries Conceded,Points Conceded,Passes,Tackle_Ruck_Mauls,...,Regained,Errors,Pens_Frees Against,Ruck_Maul,Set Piece,General Play,Foul Play,Yellow_Red Cards,Team,Date
Unnamed: 3,3:44,14,16.0,0,0,2 / 3,3,19,36,10,...,0,0,4,3,1,0,0,0,AUSTRALIA,2016-12-12
Unnamed: 6,3:18,17,11.6,19,3,2 / 3,0,0,28,5,...,2,0,2,1,0,0,1,0,USA,2016-12-12

In [590]:
# reset index
#df2.index
df2.reset_index(drop=True, inplace=True)
#df2 = df2.drop(['index'], axis=1)
df2

In [595]:
# convert all appropriate columns to integers or floats
pd.to_numeric(['Possessions', 'Scores','Tries', 'Tries Conceded', 'Points Conceded', 'Passes','Tackle / Ruck / Mauls', 'Retained', 'Lost', 'T/Overs Won','Tackle Only (Defence)', 'Mauls', 'Kicks', 'General Play T/Overs','Lineouts', 'Own Won', 'Own Lost', 'Scrums', 'Own Won', 'Own Lost','Restarts', 'Long', 'Short', 'Regained', 'Errors','Pens / Frees Against', 'Ruck / Maul', 'Set Piece', 'General Play','Foul Play', 'Yellow / Red Cards'], errors='ignore')

array(['Possessions', 'Scores', 'Tries', 'Tries Conceded',
       'Points Conceded', 'Passes', 'Tackle / Ruck / Mauls', 'Retained',
       'Lost', 'T/Overs Won', 'Tackle Only (Defence)', 'Mauls', 'Kicks',
       'General Play T/Overs', 'Lineouts', 'Own Won', 'Own Lost', 'Scrums',
       'Own Won', 'Own Lost', 'Restarts', 'Long', 'Short', 'Regained',
       'Errors', 'Pens / Frees Against', 'Ruck / Maul', 'Set Piece',
       'General Play', 'Foul Play', 'Yellow / Red Cards'], dtype=object)

In [ ]:
# Convert 'Possession Time' to datetime format %M:%S
# Needs work

#type(df2['Possession Time'][0])
#time1 = time.strptime(df2['Possession Time'][0], "%M:%S")
#print(time1)
#print(time1.tm_min,":",time1.tm_sec)

In [ ]:
# convert strings to percentages (i.e., 'Conversions')
# WRITE A FUNCTION
# type(df2.loc[:, 'Conversions'])
# df2['Conversions'] = df2['Conversions'].map(convpct)
# CREATE DOCSTRING

#def convpct (x):
#    frac = df2.loc[:, x] 
#    newfrac = frac.split(' ')
#    pct = (int(newfrac[0])) / (int(newfrac[2]))
#    pct = round(pct, 2)
#    return pct

#df2['Scores'].apply(convpct(df2['Scores']))
#convpct(df2['Conversions'][0])

In [ ]:
# Merge/Concantenate  USA and Opp data

In [596]:
# Write the Dataframe to a CSV
df2.to_csv("../data/DF_output_test.csv", header=True)